<div [ngStyle]="{
				'background': config.fondo,
				'padding': '20px',
				'border': '5px solid black',
				'border-color': config.color
			}">
  <h1>
    Bienvenido al {{ title }}!
  </h1>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
    &nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuego</a>
    &nbsp;
    <a [routerLink]="['/clientes']" [routerLinkActive]="['active']">Clientes</a>
  </nav>

  <hr>
  <router-outlet></router-outlet>
  
</div>
